In [27]:
import nltk
from nltk.corpus import gutenberg
nltk.download('gutenberg')

[nltk_data] Downloading package gutenberg to
[nltk_data]     C:\Users\Anjali\AppData\Roaming\nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!

True

In [28]:
nltk.corpus.gutenberg.fileids()

['austen-emma.txt',
 'austen-persuasion.txt',
 'austen-sense.txt',
 'bible-kjv.txt',
 'blake-poems.txt',
 'bryant-stories.txt',
 'burgess-busterbrown.txt',
 'carroll-alice.txt',
 'chesterton-ball.txt',
 'chesterton-brown.txt',
 'chesterton-thursday.txt',
 'edgeworth-parents.txt',
 'melville-moby_dick.txt',
 'milton-paradise.txt',
 'shakespeare-caesar.txt',
 'shakespeare-hamlet.txt',
 'shakespeare-macbeth.txt',
 'whitman-leaves.txt']

In [29]:
# import data
Alice = nltk.corpus.gutenberg.raw('carroll-alice.txt')

In [30]:
# step 0: Preprocessing, removing punctuations and lower case the words
import string
# split into words by white space
words = Alice.split()
words = [word.lower() for word in words]
# remove punctuation from each word
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in words]
print(stripped[:100])

['alices', 'adventures', 'in', 'wonderland', 'by', 'lewis', 'carroll', '1865', 'chapter', 'i', 'down', 'the', 'rabbithole', 'alice', 'was', 'beginning', 'to', 'get', 'very', 'tired', 'of', 'sitting', 'by', 'her', 'sister', 'on', 'the', 'bank', 'and', 'of', 'having', 'nothing', 'to', 'do', 'once', 'or', 'twice', 'she', 'had', 'peeped', 'into', 'the', 'book', 'her', 'sister', 'was', 'reading', 'but', 'it', 'had', 'no', 'pictures', 'or', 'conversations', 'in', 'it', 'and', 'what', 'is', 'the', 'use', 'of', 'a', 'book', 'thought', 'alice', 'without', 'pictures', 'or', 'conversation', 'so', 'she', 'was', 'considering', 'in', 'her', 'own', 'mind', 'as', 'well', 'as', 'she', 'could', 'for', 'the', 'hot', 'day', 'made', 'her', 'feel', 'very', 'sleepy', 'and', 'stupid', 'whether', 'the', 'pleasure', 'of', 'making', 'a']

In [31]:
# step 1: Word count
Total = len(stripped)
Total

26443

In [32]:
#step 1: unique words
len(set(stripped))

2754

In [57]:
#  step 1: Frequency of occurence
fdist = nltk.FreqDist(stripped)
fdist

FreqDist({'the': 1629, 'and': 844, 'to': 721, 'a': 627, 'she': 537, 'it': 526, 'of': 508, 'said': 462, 'i': 400, 'alice': 385, ...})

In [62]:
import pandas as pd
data = pd.DataFrame(list(fdist.items()), columns = ["Word","Frequency"])

               Word  Frequency
0            alices         12
1        adventures          6
2                in        366
3        wonderland          3
4                by         57
5             lewis          1
6           carroll          1
7              1865          1
8           chapter         12
9                 i        400
10             down        101
11              the       1629
12       rabbithole          3
13            alice        385
14              was        357
15        beginning         13
16               to        721
17              get         46
18             very        144
19            tired          7
20               of        508
21          sitting         10
22              her        248
23           sister          8
24               on        193
25             bank          2
26              and        844
27           having         10
28          nothing         34
29               do         81
...             ...        ...
2724        choking          1
2725       believed          1
2726     realitythe          1
2727       rustling          1
2728       rippling          1
2729       reedsthe          1
2730       tinkling          1
2731     sheepbells          1
2732          cries          1
2733       shepherd          1
2734         boyand          1
2735         noises          1
2736        clamour          1
2737  farmyardwhile          1
2738         lowing          1
2739         cattle          1
2740         lastly          1
2741       pictured          1
2742      aftertime          1
2743          woman          1
2744          riper          1
2745          years          1
2746         loving          1
2747      childhood          1
2748         gather          1
2749        sorrows          1
2750           joys          1
2751    remembering          1
2752      childlife          1
2753          happy          1

[2754 rows x 2 columns]

In [64]:
data = data.sort_values(by='Frequency',ascending=False)
data

                Word  Frequency
11               the       1629
26               and        844
16                to        721
47                 a        627
33               she        537
40                it        526
20                of        508
232             said        462
9                  i        400
13             alice        385
2                 in        366
242              you        360
14               was        357
88              that        276
55                as        262
22               her        248
108               at        209
24                on        193
81              with        180
111              all        179
34               had        178
39               but        164
58               for        153
51                so        150
70                be        146
18              very        144
154              not        144
44              what        136
109             this        134
304           little        128
...              ...        ...
1492       butterfly          1
1491         knowand          1
1490    chrysalisyou          1
1485           sizes          1
1484         clearly          1
1483         sternly          1
1517           brain          1
1522             fat          1
1548         awfully          1
1523  backsomersault          1
1546             eel          1
1545        balanced          1
1544          steady          1
1542             jaw          1
1541        strength          1
1540        muscular          1
1539            wife          1
1538          argued          1
1537            beak          1
1536           bones          1
1535            suet          1
1534         tougher          1
1532          couple          1
1530        shilling          1
1529     ointmentone          1
1528          supple          1
1527           limbs          1
1526            grey          1
1525            sage          1
2753           happy          1

[2754 rows x 2 columns]

In [65]:
data= data.rename_axis('Rank')
data

                Word  Frequency
Rank
11               the       1629
26               and        844
16                to        721
47                 a        627
33               she        537
40                it        526
20                of        508
232             said        462
9                  i        400
13             alice        385
2                 in        366
242              you        360
14               was        357
88              that        276
55                as        262
22               her        248
108               at        209
24                on        193
81              with        180
111              all        179
34               had        178
39               but        164
58               for        153
51                so        150
70                be        146
18              very        144
154              not        144
44              what        136
109             this        134
304           little        128
...              ...        ...
1492       butterfly          1
1491         knowand          1
1490    chrysalisyou          1
1485           sizes          1
1484         clearly          1
1483         sternly          1
1517           brain          1
1522             fat          1
1548         awfully          1
1523  backsomersault          1
1546             eel          1
1545        balanced          1
1544          steady          1
1542             jaw          1
1541        strength          1
1540        muscular          1
1539            wife          1
1538          argued          1
1537            beak          1
1536           bones          1
1535            suet          1
1534         tougher          1
1532          couple          1
1530        shilling          1
1529     ointmentone          1
1528          supple          1
1527           limbs          1
1526            grey          1
1525            sage          1
2753           happy          1

[2754 rows x 2 columns]

In [67]:
# most frequent 25 words
A = data.head(25)
A

       Word  Frequency
Rank
11      the       1629
26      and        844
16       to        721
47        a        627
33      she        537
40       it        526
20       of        508
232    said        462
9         i        400
13    alice        385
2        in        366
242     you        360
14      was        357
88     that        276
55       as        262
22      her        248
108      at        209
24       on        193
81     with        180
111     all        179
34      had        178
39      but        164
58      for        153
51       so        150
70       be        146

In [34]:
# most frequent 25 words starting with 'c'
#fd = nltk.FreqDist(word for word in stripped if word.startswith('c'))
#B = data.most_common(25)
#Rank_B = list(enumerate(B))
#Rank_B

[(0, ('could', 77)),
 (1, ('come', 45)),
 (2, ('came', 40)),
 (3, ('cat', 35)),
 (4, ('can', 34)),
 (5, ('cant', 28)),
 (6, ('caterpillar', 27)),
 (7, ('course', 24)),
 (8, ('cried', 20)),
 (9, ('curious', 19)),
 (10, ('court', 18)),
 (11, ('cats', 15)),
 (12, ('called', 15)),
 (13, ('certainly', 14)),
 (14, ('change', 14)),
 (15, ('close', 13)),
 (16, ('cook', 13)),
 (17, ('chapter', 12)),
 (18, ('conversation', 10)),
 (19, ('children', 10)),
 (20, ('child', 10)),
 (21, ('creatures', 10)),
 (22, ('coming', 9)),
 (23, ('couldnt', 9)),
 (24, ('continued', 9))]

In [37]:
# Combining 50 words.
C = A + B
print(C)

[('the', 1629), ('and', 844), ('to', 721), ('a', 627), ('she', 537), ('it', 526), ('of', 508), ('said', 462), ('i', 400), ('alice', 385), ('in', 366), ('you', 360), ('was', 357), ('that', 276), ('as', 262), ('her', 248), ('at', 209), ('on', 193), ('with', 180), ('all', 179), ('had', 178), ('but', 164), ('for', 153), ('so', 150), ('be', 146), ('could', 77), ('come', 45), ('came', 40), ('cat', 35), ('can', 34), ('cant', 28), ('caterpillar', 27), ('course', 24), ('cried', 20), ('curious', 19), ('court', 18), ('cats', 15), ('called', 15), ('certainly', 14), ('change', 14), ('close', 13), ('cook', 13), ('chapter', 12), ('conversation', 10), ('children', 10), ('child', 10), ('creatures', 10), ('coming', 9), ('couldnt', 9), ('continued', 9)]

In [25]:
len(C)

50

In [26]:
len(set(C))

2

In [ ]:
# It satisfies the zipf's law because we can see that rank is inversely proportinal to frequency of word.